* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  max-width: 1300px;
  text-align: center;
}

.content .top {
  background-color: #eeeeee;
  text-align: center;
}

.content .top > input {
  width: 300px;
}

.content .bottom {
  display: flex;
}

.content .bottom .left {
  flex-grow: 0.4;
  background-color: #7ee5da;
  text-align: center;
}

.content .bottom .middle {
  flex: 0.2;
  background-color: #70ccc2;
  text-align: center;
}

.content .bottom .right {
  flex: 1;
  background-color: #62b3aa;
  text-align: center;
}

ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
